{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block content %}


    <div class="text-row">
        <h2>Um Open Hardware</h2>
        <p>Fyrirtækið Open Hardware sérhæfir sig í því að gera vörur til að einfalda notkun á örgjörvaborðinu BeagleBone
            Blue (BBB). Vörurnar munu auðvelda tengingu íhluta við örgjörvaborðið, til þess að einfalda þróun róbóta.
            Því næst er áætlunin að samræma gögn um borðið til að auðvelda notkunina á borðinu sjálfu. </p>
    </div>

{% endblock %}